<a href="https://colab.research.google.com/github/DenisOgr/ucu-2019-ml-final-project/blob/init/notebooks/init_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import datasets

In [15]:
#Google Colab needs
import os
import sys
def isCollab():
    return os.environ.get('COLAB_GPU', None) != None

if isCollab():
    #Mounting GDrive disc
    from google.colab import drive
    drive.mount('/content/gdrive')
    path_to_storage = '/content/gdrive/My Drive/UCU-2019-final-project-storage'

    #Append path where custom modules stored. I put custom modules to GDrive disc
    path_to_modules = '/content/gdrive/My Drive/UCU-2019-final-project-storage'
    sys.path.append(path_to_modules)
else:
    sys.path.append('..')

In [12]:
import numpy
import os
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle

In [13]:
if not path_to_storage:
    path_to_storage = os.path.abspath(os.path.join(os.getcwd(), '../storage'))

In [4]:
data_folder = path_to_storage+'/data/'
serialization_objects_folder = path_to_storage+'/serialization_objects/'

In [5]:
dtypes = {
    'id': 'int64',
    'qid1': 'int64',
    'qid2': 'int64',
    'question1': 'object',
    'question2': 'object',
    'is_duplicate': 'int64'
}
df = pd.read_csv(data_folder+'train.csv',
                 header=0, 
                 usecols=dtypes.keys(), 
                 skipinitialspace=True,
                 skip_blank_lines=True,
                 encoding='utf-8')
df = df.set_index('id')
df = df.dropna()

In [6]:
df.head()

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [7]:
X = df.drop(columns=['is_duplicate'])

y = df['is_duplicate']
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.33, random_state=50)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270872 entries, 243973 to 103904
Data columns (total 4 columns):
qid1         270872 non-null int64
qid2         270872 non-null int64
question1    270872 non-null object
question2    270872 non-null object
dtypes: int64(2), object(2)
memory usage: 10.3+ MB

In [8]:
pickle.dump(X_train, open(serialization_objects_folder+'X_train.p', 'wb'))
pickle.dump(y_train, open(serialization_objects_folder+'y_train.p', 'wb'))
pickle.dump(X_test, open(serialization_objects_folder+'X_test.p', 'wb'))
pickle.dump(y_test, open(serialization_objects_folder+'y_test.p', 'wb'))

In [9]:
!ls "$serialization_objects_folder"

X_test.p  X_train.p readme    y_test.p  y_train.p

In [10]:
del X,y,df,X_train,X_test, y_train, y_test